In [141]:
# load data
from glob import glob 
raw_data = glob("/Users/yeonghwanchoi/Documents/git/EDA/EDA_consumtion trend of government subsidies/data/*")
raw_data[0]

'/Users/yeonghwanchoi/Documents/git/EDA/EDA_consumtion trend of government subsidies/data/KRI-DAC_Jeju_data6.txt'

In [142]:
# conncat data
from glob import glob 
concat_list=[]
for i in range(0,len(raw_data)):
    df=pd.read_csv(raw_data[i])
    df["월"]=raw_data[i].split(".")[0][-1:]
    concat_list.append(df)

In [143]:
df=pd.concat(concat_list)
df

,OBJECTID,Field1,YM,SIDO,SIGUNGU,FranClass,Type,Time,TotalSpent,DisSpent,NumofSpent,NumofDisSpent,POINT_X,POINT_Y,월,X,Y
0,1,1,202006,제주특별자치도,제주시,영세,일반한식,00시,502000,0,10,0,877005.9834,1.479766e+06,6,NaN,NaN
1,2,2,202006,제주특별자치도,제주시,영세,단란주점,00시,1520000,0,8,0,877005.7447,1.479816e+06,6,NaN,NaN
2,3,3,202006,제주특별자치도,제주시,중소1,편의점,00시,482310,0,35,0,877056.6756,1.479616e+06,6,NaN,NaN
3,4,4,202006,제주특별자치도,제주시,영세,편의점,00시,38050,5450,3,1,877055.9593,1.479766e+06,6,NaN,NaN
4,5,5,202006,제주특별자치도,제주시,영세,일반한식,00시,32000,32000,1,1,877055.4817,1.479866e+06,6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280080,280081,280081,202008,제주특별자치도,제주시,영세,편의점,x시,13700,0,2,0,950266.5976,1.502458e+06,8,NaN,NaN
280081,280082,280082,202008,제주특별자치도,제주시,영세,일반한식,x시,56000,0,1,0,950317.5379,1.502258e+06,8,NaN,NaN
280082,280083,280083,202008,제주특별자치도,제주시,영세,일반한식,x시,28000,0,1,0,950469.1585,1.501909e+06,8,NaN,NaN
280083,280084,280084,202008,제주특별자치도,제주시,중소1,중국음식,x시,46000,0,3,0,950574.6388,1.500760e+06,8,NaN,NaN
280084,280085,280085,202008,제주특별자치도,제주시,영세,서양음식,x시,9000,0,1,0,950565.5176,1.502659e+06,8,NaN,NaN

In [144]:
# montly_spend =

In [145]:
#dropped useless columns 
df.columns=df.columns.str.lower()
df.drop(['sido','x',"objectid",'y'],axis = 1, inplace=True)

In [146]:
#rename koren named columns to eng

In [147]:
from pyproj import Proj 
proj_itrf = Proj(init='epsg:5179')
proj_wgs84 = Proj(init='epsg:4326')

In [148]:
df["lon"],df["lat"] = transform(proj_itrf,proj_wgs84,df['point_x'],df["point_y"])

In [150]:
df["lon_lat"]=df["lon"].astype(str)+'_'+df["lat"].astype(str)

In [151]:
import googlemaps
from datetime import datetime
gmaps = googlemaps.Client(key="AIzaSyA0iz3qhlU6u0OZWMpAwa2yKF5DiKzoiY0") 
# geocode_result

In [152]:
df

,field1,ym,sigungu,franclass,type,time,totalspent,disspent,numofspent,numofdisspent,point_x,point_y,월,lon,lat,lon_lat
0,1,202006,제주시,영세,일반한식,00시,502000,0,10,0,877005.9834,1.479766e+06,6,126.178894,33.302315,126.17889362710162_33.30231529076243
1,2,202006,제주시,영세,단란주점,00시,1520000,0,8,0,877005.7447,1.479816e+06,6,126.178884,33.302766,126.17888426813494_33.302765922881875
2,3,202006,제주시,중소1,편의점,00시,482310,0,35,0,877056.6756,1.479616e+06,6,126.179458,33.300971,126.17945834265305_33.30097125427593
3,4,202006,제주시,영세,편의점,00시,38050,5450,3,1,877055.9593,1.479766e+06,6,126.179430,33.302323,126.17943027296923_33.30232314934195
4,5,202006,제주시,영세,일반한식,00시,32000,32000,1,1,877055.4817,1.479866e+06,6,126.179412,33.303224,126.17941155823847_33.303224412837565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280080,280081,202008,제주시,영세,편의점,x시,13700,0,2,0,950266.5976,1.502458e+06,8,126.964496,33.512854,126.96449620673_33.51285447500651
280081,280082,202008,제주시,영세,일반한식,x시,56000,0,1,0,950317.5379,1.502258e+06,8,126.965056,33.511056,126.96505576792752_33.511055881956054
280082,280083,202008,제주시,영세,일반한식,x시,28000,0,1,0,950469.1585,1.501909e+06,8,126.966708,33.507914,126.96670756246148_33.50791393813245
280083,280084,202008,제주시,중소1,중국음식,x시,46000,0,3,0,950574.6388,1.500760e+06,8,126.967907,33.497555,126.96790663143533_33.49755514050082
280084,280085,202008,제주시,영세,서양음식,x시,9000,0,1,0,950565.5176,1.502659e+06,8,126.967704,33.514684,126.96770358112443_33.514684466754474

In [157]:
lon_lat=df["lon_lat"].drop_duplicates()
lon_lat

0          126.17889362710162_33.30231529076243
1         126.17888426813494_33.302765922881875
2          126.17945834265305_33.30097125427593
3          126.17943027296923_33.30232314934195
4         126.17941155823847_33.303224412837565
                          ...
268992     126.83882456997848_33.37198974202468
270026     126.29371775568167_33.44278262819118
271292    126.44677192780091_33.483559882610706
275160     126.5292452740336_33.473746251556754
275663        126.535342658025_33.4950054416331
Name: lon_lat, Length: 15369, dtype: object

In [122]:
import googlemaps
from datetime import datetime

gmaps = googlemaps.Client(key='AIzaSyA0iz3qhlU6u0OZWMpAwa2yKF5DiKzoiY0')


reverse_geocode_result = gmaps.reverse_geocode(())


# # Request directions via public transit
# now = datetime.now()
# directions_result = gmaps.directions("Sydney Town Hall",
#                                      "Parramatta, NSW",
#                                      mode="transit",
#                                      departure_time=now)

In [117]:
#import rename module  
import type_names
input_data=type_names.rename()
for key, value in input_data:
    df["Type"].replace(dict.fromkeys(key, value), inplace=True)

In [118]:
for key, value in input_data:
    df["Type"].replace(dict.fromkeys(key, value), inplace=True)
df

,OBJECTID,Field1,YM,SIDO,SIGUNGU,FranClass,Type,Time,TotalSpent,DisSpent,NumofSpent,NumofDisSpent,POINT_X,POINT_Y,월,X,Y
0,1,1,202006,제주특별자치도,제주시,영세,외식,00시,502000,0,10,0,877005.9834,1.479766e+06,6,NaN,NaN
1,2,2,202006,제주특별자치도,제주시,영세,유흥/주점,00시,1520000,0,8,0,877005.7447,1.479816e+06,6,NaN,NaN
2,3,3,202006,제주특별자치도,제주시,중소1,식료품,00시,482310,0,35,0,877056.6756,1.479616e+06,6,NaN,NaN
3,4,4,202006,제주특별자치도,제주시,영세,식료품,00시,38050,5450,3,1,877055.9593,1.479766e+06,6,NaN,NaN
4,5,5,202006,제주특별자치도,제주시,영세,외식,00시,32000,32000,1,1,877055.4817,1.479866e+06,6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280080,280081,280081,202008,제주특별자치도,제주시,영세,식료품,x시,13700,0,2,0,950266.5976,1.502458e+06,8,NaN,NaN
280081,280082,280082,202008,제주특별자치도,제주시,영세,외식,x시,56000,0,1,0,950317.5379,1.502258e+06,8,NaN,NaN
280082,280083,280083,202008,제주특별자치도,제주시,영세,외식,x시,28000,0,1,0,950469.1585,1.501909e+06,8,NaN,NaN
280083,280084,280084,202008,제주특별자치도,제주시,중소1,외식,x시,46000,0,3,0,950574.6388,1.500760e+06,8,NaN,NaN
280084,280085,280085,202008,제주특별자치도,제주시,영세,외식,x시,9000,0,1,0,950565.5176,1.502659e+06,8,NaN,NaN