#### Quiz 1
- 아래와 같이 데이터 프레임을 만드세요.
- Column
    - line(공장라인) : line1, line2, line3 중 하나의 데이터를 랜덤하게 저장
    - good(양품) : 100 ~ 200 중 랜덤한 정수
    - bad(불량) : 0 ~ 100 중 랜덤한 정수
    - date(날짜) : 1 ~ 5 중 랜던한 정수
- Row 데이터 : 10개

['line2',
 'line1',
 'line3',
 'line3',
 'line1',
 'line3',
 'line1',
 'line1',
 'line2',
 'line3']

In [37]:
# TODO
data = {'line': ["line{}".format(random.randint(1,3)) for i in range(10)], \
        'good': [random.randint(100,200) for i in range(10) ],\
        "bad":[random.randint(0,100) for i in range(10)],\
        "date":[random.randint(1,5) for i in range(10)]}
df = pd.DataFrame(data=data)
df

    line  good  bad  date
0  line1   101   33     2
1  line2   188    6     1
2  line1   141   84     4
3  line3   148    8     1
4  line2   108   53     2
5  line1   123   74     2
6  line2   141   79     3
7  line1   128   22     5
8  line1   194    0     4
9  line2   162   42     4

#### Quiz 2
- 위의 데이터 프레임에서 전체 양품수, 전체 불량수, 불량률을 소수 둘째 자리까지 출력하세요.

In [38]:
# TODO
total_items = sum(df["good"])
bad_items= sum(df["bad"])
bad_rate= round(bad_items/(total_items+bad_items)*100,2)

print("전체 양품수 : {}, 전체 불량수 : {}".format(total_items, bad_items))
print("전체 불량률 : {} %".format(bad_rate))

전체 양품수 : 1434, 전체 불량수 : 401
전체 불량률 : 21.85 %

#### Quiz 3
- 생산라인별 전체 good(양품), bad(불량) 수를 데이터 프레임으로 출력하세요.
- groupby 사용

In [41]:
# TODO
df_group=df.groupby("line")["good","bad"].sum()
df_group

<ipython-input-41-de5f71dc8578>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_group=df.groupby("line")["good","bad"].sum()

       good  bad
line
line1   687  213
line2   599  180
line3   148    8

#### Quiz 4
- 생산 라인별 불량률을 출력하세요.

In [46]:
# TODO
df_group=df.groupby("line")["good","bad","date"].sum().reset_index()
df_group["bad_rate"]=round(df_group["bad"]/df_group["good"],2)
df_group

<ipython-input-46-e805a46a6baa>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_group=df.groupby("line")["good","bad","date"].sum().reset_index()

    line  good  bad  date  bad_rate
0  line1   687  213    17      0.31
1  line2   599  180    10      0.30
2  line3   148    8     1      0.05

#### Quiz 5
- 날짜별 전체 good(양품), bad(불량) 수를 데이터 프레임으로 출력하세요.
- groupby 사용

In [47]:
# TODO
df_group=df.groupby("date")["good","bad"].sum().reset_index()
df_group

<ipython-input-47-cb27c4aa4bac>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_group=df.groupby("date")["good","bad"].sum().reset_index()

   date  good  bad
0     1   336   14
1     2   332  160
2     3   141   79
3     4   497  126
4     5   128   22

#### Quiz 6
- 날짜별 불량률을 출력하세요.

In [48]:
# TODO
df_group=df.groupby("date")["good","bad"].sum().reset_index()
df_group["bad_rate"]=round(df_group["bad"]/df_group["good"],2)
df_group

<ipython-input-48-6c59deda4790>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_group=df.groupby("date")["good","bad"].sum().reset_index()

   date  good  bad  bad_rate
0     1   336   14      0.04
1     2   332  160      0.48
2     3   141   79      0.56
3     4   497  126      0.25
4     5   128   22      0.17

#### Quiz 7
- 아래의 데이터를 pivot_table을 이용하여 출력하세요.
    - 라인별, 날짜별, 양품수
    - 라인별, 날짜별, 불량수
    - 라인별, 날짜별, 불량률
- NaN 데이터는 0으로 변경하세요.
- pivot_table, fillna 사용

In [54]:
# 라인별, 날짜별, 양품수

# TODO
pivot_df_1=pd.pivot_table(df, "good" , "line", "date").fillna(0)
pivot_df_1

date       1      2      3      4      5
line
line1    0.0  112.0    0.0  167.5  128.0
line2  188.0  108.0  141.0  162.0    0.0
line3  148.0    0.0    0.0    0.0    0.0

In [55]:
# 라인별, 날짜별, 불량수

# TODO
pivot_df_2=pd.pivot_table(df, "bad" , "line", "date").fillna(0)
pivot_df_2

date     1     2     3     4     5
line
line1  0.0  53.5   0.0  42.0  22.0
line2  6.0  53.0  79.0  42.0   0.0
line3  8.0   0.0   0.0   0.0   0.0

In [56]:
df_group

   date  good  bad  bad_rate
0     1   336   14      0.04
1     2   332  160      0.48
2     3   141   79      0.56
3     4   497  126      0.25
4     5   128   22      0.17

In [60]:
# 라인별, 날짜별, 불량률

# TODO
df["bad_rate"]= round(df["bad"]/df["good"],2)
pivot_df_3=pd.pivot_table(df, "bad_rate" , "line", "date").fillna(0)
pivot_df_3

date      1      2     3     4     5
line
line1  0.00  0.465  0.00  0.30  0.17
line2  0.03  0.490  0.56  0.26  0.00
line3  0.05  0.000  0.00  0.00  0.00