#### Quiz 1
- 아래와 같이 데이터 프레임을 만드세요.
- Column
    - line(공장라인) : line1, line2, line3 중 하나의 데이터를 랜덤하게 저장
    - good(양품) : 100 ~ 200 중 랜덤한 정수
    - bad(불량) : 0 ~ 100 중 랜덤한 정수
    - date(날짜) : 1 ~ 5 중 랜던한 정수
- Row 데이터 : 10개

In [7]:
datas = []

for idx in range(10):
    datas.append(
        { "line": "line{}".format(np.random.randint(1, 4)),
          "good": np.random.randint(100, 201),
          "bad": np.random.randint(101),
          "date": np.random.randint(1, 6),
        }
    )

df = pd.DataFrame(datas)
df

    line  good  bad  date
0  line3   168   32     1
1  line2   116   41     4
2  line3   151   91     2
3  line3   131   89     1
4  line1   103   11     1
5  line3   125    2     4
6  line2   162   58     5
7  line2   144   21     4
8  line1   155   51     2
9  line3   140   82     5

#### Quiz 2
- 위의 데이터 프레임에서 전체 양품수, 전체 불량수, 불량률을 소수 둘째 자리까지 출력하세요.

In [8]:
total_items = sum(df["good"]) + sum(df["bad"])
bad_items = sum(df["bad"])

bad_rate = bad_items / total_items
bad_rate = round(bad_rate*100, 2)

print("전체 양품수 : {}, 전체 불량수 : {}".format(total_items, bad_items))
print("전체 불량률 : {} %".format(bad_rate))

전체 양품수 : 1873, 전체 불량수 : 478
전체 불량률 : 25.52 %

#### Quiz 3
- 생산라인별 전체 good(양품), bad(불량) 수를 데이터 프레임으로 출력하세요.
- groupby 사용

In [9]:
line_df = df.groupby("line").sum().reset_index()
line_df[["line", "good", "bad"]]

    line  good  bad
0  line1   258   62
1  line2   422  120
2  line3   715  296

#### Quiz 4
- 생산 라인별 불량률을 출력하세요.

In [10]:
line_df["bad_rate"] = round( (line_df["bad"] / (line_df["good"] + line_df["bad"])) * 100, 2)
line_df

    line  good  bad  date  bad_rate
0  line1   258   62     3     19.38
1  line2   422  120    13     22.14
2  line3   715  296    13     29.28

#### Quiz 5
- 날짜별 전체 good(양품), bad(불량) 수를 데이터 프레임으로 출력하세요.
- groupby 사용

In [11]:
date_df = df.groupby("date").sum().reset_index()
date_df[["date", "good", "bad"]]

   date  good  bad
0     1   402  132
1     2   306  142
2     4   385   64
3     5   302  140

#### Quiz 6
- 날짜별 불량률을 출력하세요.

In [12]:
date_df["bad_rate"] = round( (date_df["bad"] / (date_df["good"] + date_df["bad"])) * 100, 2)
date_df

   date  good  bad  bad_rate
0     1   402  132     24.72
1     2   306  142     31.70
2     4   385   64     14.25
3     5   302  140     31.67

#### Quiz 7
- 아래의 데이터를 pivot_table을 이용하여 출력하세요.
    - 라인별, 날짜별, 양품수
    - 라인별, 날짜별, 불량수
    - 라인별, 날짜별, 불량률
- NaN 데이터는 0으로 변경하세요.
- pivot_table, fillna 사용

In [13]:
# 라인별, 날짜별, 양품수
pivot_df_1 = df.pivot_table("good", "line", "date", aggfunc="sum")
pivot_df_1 = pd.DataFrame(pivot_df_1.values, list(pivot_df_1.index), list(pivot_df_1.columns))
pivot_df_1.fillna(0, inplace=True)
pivot_df_1

           1      2      4      5
line1  103.0  155.0    0.0    0.0
line2    0.0    0.0  260.0  162.0
line3  299.0  151.0  125.0  140.0

In [14]:
# 라인별, 날짜별, 불량수
pivot_df_2 = df.pivot_table("bad", "line", "date", aggfunc="sum")
pivot_df_2 = pd.DataFrame(pivot_df_2.values, list(pivot_df_2.index), list(pivot_df_2.columns))
pivot_df_2.fillna(0, inplace=True)
pivot_df_2

           1     2     4     5
line1   11.0  51.0   0.0   0.0
line2    0.0   0.0  62.0  58.0
line3  121.0  91.0   2.0  82.0

In [15]:
# 라인별, 날짜별, 불량률
pivot_df_3 = round((pivot_df_2 / (pivot_df_1 + pivot_df_2)) * 100, 2)
pivot_df_3.fillna(0, inplace=True)
pivot_df_3

           1      2      4      5
line1   9.65  24.76   0.00   0.00
line2   0.00   0.00  19.25  26.36
line3  28.81  37.60   1.57  36.94