#### FinanceDataReader
- 주가 데이터를 크롤링하는 패키지 입니다.
- pip install finance-datareader
- https://financedata.github.io/posts/finance-data-reader-users-guide.html

In [1]:
import FinanceDataReader as fdr

In [2]:
# 날짜 데이터 설정 : 2016 ~ 2020
start_year, end_year = "2016", "2021"

#### Quiz 1. 
- usd_df와 kospi_df의 공통된 날짜 데이터를 필터링해서 종가(컬럼명:"Close") 기준으로 상관계수를 구하세요.
- usd_df과 kospi_df의 날짜 데이터를 공통된 날짜 데이터로 필터링해서 사용하세요.
- 소수 3째자리까지 반올림해서 출력

- 데이터 크롤링

In [3]:
# 원/달러 환율
usd_df = fdr.DataReader("USD/KRW", start_year, end_year)

In [4]:
# 코스피
kospi_df = fdr.DataReader("KS11", start_year, end_year)

In [5]:
# 날짜가 같은 데이터만 출력되도록 필터링
filtered_usd_df = usd_df.loc[usd_df.index & kospi_df.index]

In [6]:
# 상관계수 구하기
np.round(np.corrcoef(filtered_usd_df["Close"], kospi_df["Close"])[0, 1], 3)

-0.699

#### Quiz 2.
- 2016년부터 2020년까지 10000달러를 애플 주식 50%, TLT 50%의 비율로 투자했을 경우 투자 수익금을 출력하세요.
- 한달에 한번씩 마지막 날에 리밸런싱합니다.

- 데이터 수집

In [7]:
# 애플 주가
apple_df = fdr.DataReader("AAPL", str(start_year), str(end_year))

In [8]:
# TLT 미국 20년 국채
tlt_df = fdr.DataReader("TLT", start_year, end_year)

In [9]:
len(apple_df), len(tlt_df)

(1260, 1259)

- apple_df와 tlt_df의 데이터의 갯수가 다릅니다.
- 날짜를 기준으로 두개의 데이터 프레임의 교집합 데이터를 아래와 같이 출력

In [10]:
# 같은 날짜 데이터로 필터링
apple_df = apple_df.loc[apple_df.index & tlt_df.index]
tlt_df = tlt_df.loc[apple_df.index & tlt_df.index]
len(apple_df), len(tlt_df)

(1259, 1259)

In [11]:
# 날짜, 종가 데이터 프레임 생성
result_df = pd.concat([apple_df.reset_index()[["Close"]].rename(columns={"Close":"apple_price"}), 
                       tlt_df.reset_index()[["Close"]].rename(columns={"Close":"tlt_price"})], axis=1)
result_df.index = apple_df.index
result_df.tail()

            apple_price  tlt_price
Date
2020-12-24       131.97     157.29
2020-12-28       136.69     157.36
2020-12-29       134.87     157.16
2020-12-30       133.72     157.50
2020-12-31       132.69     157.73

- 월별 마지막 날 데이터만 출력

In [12]:
# 월 단위 날짜 생성
date = pd.date_range(start=start_year, end=end_year, freq='M')
dates = date.strftime('%Y-%m')
dates[:5]

Index(['2016-01', '2016-02', '2016-03', '2016-04', '2016-05'], dtype='object')

In [13]:
# 마지막날 데이터 출력
last_dates = []
for date in dates:
    last_date = str(result_df.loc[date].index[-1]).split(" ")[0]
    last_dates.append(last_date)
last_dates[:5]

['2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31']

In [14]:
result_last_df = result_df.loc[last_dates]
result_last_df.head()

            apple_price  tlt_price
Date
2016-01-29        24.34     127.30
2016-02-29        24.17     130.98
2016-03-31        27.25     130.61
2016-04-29        23.43     129.38
2016-05-31        24.96     130.16

- 10000 달러를 애플 주식과 TLT를 50:50으로 한달에 한번씩 투자했을때 월별 수익을 출력하는 데이터 프레임

In [15]:
df = result_last_df.reset_index()

In [16]:
original_asset = 10000
asset = original_asset

rate_1, rate_2 = 0.5, 0.5

assets = []
dollers = []
apple_stocks = []
tlt_stocks = []

for idx, data in df.iterrows():
    
    if idx > 0:
        asset = apple_stock * data["apple_price"] + tlt_stock * data["tlt_price"] + doller
    
    apple_stock = (asset * rate_1) // data["apple_price"]
    apple_stocks.append(apple_stock)
    
    tlt_stock = (asset * rate_2) // data["tlt_price"]
    tlt_stocks.append(tlt_stock)
    
    doller = np.round((asset * rate_1) % data["apple_price"] + (asset * rate_2) % data["tlt_price"], 2)
    dollers.append(doller)
    assets.append(asset)

In [17]:
df["apple_stock"] = apple_stocks
df["tlt_stock"] = tlt_stocks
df["doller"] = dollers
df["asset"] = assets
df

,Date,apple_price,tlt_price,apple_stock,tlt_stock,doller,asset
0,2016-01-29,24.34,127.30,205.0,39.0,45.60,10000.00
1,2016-02-29,24.17,130.98,209.0,38.0,79.90,10108.67
2,2016-03-31,27.25,130.61,197.0,41.0,15.07,10738.33
3,2016-04-29,23.43,129.38,212.0,38.0,51.76,9935.36
4,2016-05-31,24.96,130.16,206.0,39.0,71.36,10289.36
5,2016-06-30,23.90,138.90,217.0,37.0,86.26,10411.86
6,2016-07-29,26.05,141.56,210.0,38.0,127.05,10976.83
7,2016-08-31,26.52,139.87,207.0,39.0,66.74,11011.31
8,2016-09-30,28.26,137.51,199.0,41.0,17.80,11279.45
9,2016-10-31,28.39,131.25,194.0,42.0,28.50,11048.66
10,2016-11-30,27.63,120.24,188.0,43.0,74.04,10438.80
11,2016-12-30,28.95,119.13,183.0,44.0,99.66,10639.23
12,2017-01-31,30.34,120.10,180.0,45.0,70.58,10936.28
13,2017-02-28,34.25,121.74,171.0,48.0,13.61,11713.88
14,2017-03-31,35.91,120.71,166.0,49.0,72.45,11948.30
15,2017-04-28,35.91,122.35,167.0,49.0,36.54,12028.66
16,2017-05-31,38.19,124.40,163.0,50.0,64.90,12509.87
17,2017-06-30,36.01,125.12,169.0,48.0,99.08,12190.53
18,2017-07-31,37.18,124.04,165.0,49.0,123.76,12336.42
19,2017-08-31,41.00,127.99,160.0,51.0,72.78,13160.27
20,2017-09-29,38.53,124.76,163.0,50.0,81.95,12600.34
21,2017-10-31,42.26,124.46,156.0,53.0,4.39,13193.33
22,2017-11-30,42.96,125.12,155.0,53.0,47.35,13337.51
23,2017-12-29,42.31,126.86,157.0,52.0,89.59,13328.98
24,2018-01-31,41.86,122.73,155.0,53.0,50.58,13043.57
25,2018-02-28,44.53,118.75,148.0,55.0,124.79,13246.48
26,2018-03-29,41.95,121.90,155.0,53.0,74.94,13037.89
27,2018-04-30,41.31,119.10,154.0,53.0,116.25,12790.29
28,2018-05-31,46.72,121.22,147.0,56.0,79.63,13735.79
29,2018-06-29,46.28,121.72,148.0,56.0,33.35,13699.11
30,2018-07-31,47.57,119.70,144.0,57.0,103.93,13776.91
31,2018-08-31,56.91,121.00,133.0,62.0,124.94,15195.97
32,2018-09-28,56.44,117.27,132.0,63.0,64.11,14902.20
33,2018-10-31,54.72,113.58,131.0,63.0,118.83,14442.69
34,2018-11-30,44.65,115.33,148.0,57.0,51.76,13233.77
35,2018-12-31,39.44,121.51,162.0,52.0,107.15,12814.95
36,2019-01-31,41.61,121.97,158.0,54.0,29.65,13190.41
37,2019-02-28,43.29,120.02,154.0,55.0,82.79,13350.55
38,2019-03-29,47.49,126.44,151.0,56.0,98.82,14350.45
39,2019-04-30,50.17,123.65,145.0,59.0,28.89,14598.89
40,2019-05-31,43.77,131.83,161.0,53.0,119.55,14153.51
41,2019-06-28,49.48,132.81,152.0,56.0,166.44,15124.76
42,2019-07-31,53.26,132.89,147.0,59.0,34.07,15703.80
43,2019-08-30,52.19,147.28,157.0,55.0,101.29,16395.52
44,2019-09-30,55.99,143.08,149.0,58.0,119.97,16761.12
45,2019-10-31,62.19,141.24,141.0,62.0,52.53,17578.20
46,2019-11-29,66.81,140.42,136.0,64.0,105.74,18178.78
47,2019-12-31,73.41,135.48,127.0,69.0,89.03,18760.22
48,2020-01-31,77.38,145.90,129.0,68.0,80.17,19983.39
49,2020-02-28,68.34,155.31,142.0,62.0,123.61,19457.11
50,2020-03-31,63.57,164.97,152.0,58.0,147.79,19378.69
51,2020-04-30,73.45,166.74,142.0,62.0,215.33,20983.11
52,2020-05-29,79.48,163.59,136.0,66.0,37.85,21644.07
53,2020-06-30,91.20,163.93,127.0,70.0,202.93,23260.43
54,2020-07-31,106.26,171.00,120.0,75.0,91.75,25667.95
55,2020-08-31,129.04,162.19,107.0,85.0,147.37,27740.80
56,2020-09-30,115.81,163.26,114.0,80.0,153.00,26416.14
57,2020-10-30,108.86,157.57,115.0,79.0,201.71,25168.64
58,2020-11-30,119.05,160.02,111.0,82.0,197.85,26534.04
59,2020-12-31,132.69,157.73,104.0,88.0,180.30,27860.30

In [19]:
# 수익률 출력
np.round(asset / original_asset * 100, 2)

(278.6, '%')