<a href="https://colab.research.google.com/github/yeonghwanchoi/EDA/blob/master/jeju_EDA/sale_trend_jeju.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Important library for many geopython libraries
!apt install gdal-bin python-gdal python3-gdal 
# Install rtree - Geopandas requirment
!apt install python3-rtree 
# Install Geopandas
!pip install git+git://github.com/geopandas/geopandas.git
# Install descartes - Geopandas requirment
!pip install descartes 
# Install Folium for Geographic data visualization
!pip install folium
# Install plotlyExpress
!pip install plotly_express

Reading package lists... Done
Building dependency tree
Reading state information... Done
gdal-bin is already the newest version (2.2.3+dfsg-2).
python-gdal is already the newest version (2.2.3+dfsg-2).
The following additional packages will be installed:
  python3-numpy
Suggested packages:
  python-numpy-doc python3-nose python3-numpy-dbg
The following NEW packages will be installed:
  python3-gdal python3-numpy
0 upgraded, 2 newly installed, 0 to remove and 39 not upgraded.
Need to get 2,288 kB of archives.
After this operation, 13.2 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 python3-numpy amd64 1:1.13.3-2ubuntu1 [1,943 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 python3-gdal amd64 2.2.3+dfsg-2 [346 kB]
Fetched 2,288 kB in 2s (956 kB/s)
Selecting previously unselected package python3-numpy.
(Reading database ... 160772 files and directories currently installed.)
Preparing to unpack .../python3-numpy_1%3a1.13.3-2ubuntu1_amd64.deb ...
Unpacking python3-numpy (1:1.13.3-2ubuntu1) ...
Selecting previously unselected package python3-gdal.
Preparing to unpack .../python3-gdal_2.2.3+dfsg-2_amd64.deb ...
Unpacking python3-gdal (2.2.3+dfsg-2) ...
Setting up python3-numpy (1:1.13.3-2ubuntu1) ...
Setting up python3-gdal (2.2.3+dfsg-2) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  libspatialindex-c4v5 libspatialindex-dev libspatialindex4v5
  python3-pkg-resources
Suggested packages:
  python3-setuptools
The following NEW packages will be installed:
  libspatialindex-c4v5 libspatialindex-dev libspatialindex4v5
  python3-pkg-resources python3-rtree
0 upgraded, 5 newly installed, 0 to remove and 39 not upgraded.
Need to get 671 kB of archives.
After this operation, 3,948 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex4v5 amd64 1.8.5-5 [219 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-c4v5 amd64 1.8.5-5 [51.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 python3-pkg-resources all 39.0.1-2 [98.8 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-dev amd64 1.8.5-5 [285 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/universe amd64 python3-rtree all 0.8.3+ds-1 [16.9 kB]
Fetched 671 kB in 2s (302 kB/s)
Selecting previously unselected package libspatialindex4v5:amd64.
(Reading database ... 161182 files and directories currently installed.)
Preparing to unpack .../libspatialindex4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package libspatialindex-c4v5:amd64.
Preparing to unpack .../libspatialindex-c4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-c4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package python3-pkg-resources.
Preparing to unpack .../python3-pkg-resources_39.0.1-2_all.deb ...
Unpacking python3-pkg-resources (39.0.1-2) ...
Selecting previously unselected package libspatialindex-dev:amd64.
Preparing to unpack .../libspatialindex-dev_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-dev:amd64 (1.8.5-5) ...
Selecting previously unselected package python3-rtree.
Preparing to unpack .../python3-rtree_0.8.3+ds-1_all.deb ...
Unpacking python3-rtree (0.8.3+ds-1) ...
Setting up libspatialindex4v5:amd64 (1.8.5-5) ...
Setting up python3-pkg-resources (39.0.1-2) ...
Setting up libspatialindex-c4v5:amd64 (1.8.5-5) ...
Setting up libspatialindex-dev:amd64 (1.8.5-5) ...
Setting up python3-rtree (0.8.3+ds-1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Collecting git+git://github.com/geopandas/geopandas.git
  Cloning git://github.com/geopandas/geopandas.git to /tmp/pip-req-build-qfy5dccq
  Running command git clone -q git://github.com/geopandas/geopandas.git /tmp/pip-req-build-qfy5dccq
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas==0.9.0+36.gcb88dd4) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas==0.9.0+36.gcb88dd4) (1.7.1)
Collecting fiona>=1.8
  Downloading https://files.pythonhosted.org/packages/9c/fc/9807326c37a6bfb2393ae3e1cca147aa74844562c4d5daa782d6e97ad2bc/Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4MB)
     |████████████████████████████████| 15.4MB 196kB/s
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/11/1d/1c54c672c2faf08d28fe78e15d664c048f786225bef95ad87b6c435cf69e/pyproj-3.1.0-cp37-cp37m-manylinux2010_x86_64.whl (6.6MB)
     |████████████████████████████████| 6.6MB 16.9MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas==0.9.0+36.gcb88dd4) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas==0.9.0+36.gcb88dd4) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas==0.9.0+36.gcb88dd4) (1.19.5)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/73/86/43fa9f15c5b9fb6e82620428827cd3c284aa933431405d1bcf5231ae3d3e/cligj-0.7.2-py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+36.gcb88dd4) (21.2.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+36.gcb88dd4) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+36.gcb88dd4) (2021.5.30)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+36.gcb88dd4) (57.0.0)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas==0.9.0+36.gcb88dd4) (7.1.2)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Building wheels for collected packages: geopandas
  Building wheel for geopandas (setup.py) ... done
  Created wheel for geopandas: filename=geopandas-0.9.0+36.gcb88dd4-py2.py3-none-any.whl size=996489 sha256=fa55d1e39f559012f3c9eb77bc77203c6b5a1f46f0de962864bc57fd41728510
  Stored in directory: /tmp/pip-ephem-wheel-cache-_4mbv08v/wheels/91/24/71/376c9c67192694168352afcccc2d264248f7e2cc6192997186
Successfully built geopandas
Installing collected packages: cligj, click-plugins, munch, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0+36.gcb88dd4 munch-2.5.0 pyproj-3.1.0
Requirement already satisfied: descartes in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from descartes) (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.3.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.19.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->descartes) (1.15.0)
Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.8.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from folium) (1.15.0)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.19.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->folium) (2.0.1)
Collecting plotly_express
  Downloading https://files.pythonhosted.org/packages/d4/d6/8a2906f51e073a4be80cab35cfa10e7a34853e60f3ed5304ac470852a08d/plotly_express-0.4.1-py2.py3-none-any.whl
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.10.2)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (4.4.1)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.4.1)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.1.5)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.5.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly>=4.1.0->plotly_express) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.1.0->plotly_express) (1.3.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2.8.1)
Installing collected packages: plotly-express
Successfully installed plotly-express-0.4.1

In [2]:
# government aid to jeju island

In [3]:
# 1. data preprocessing

In [4]:
#data load

from google.colab import drive
drive.mount('/content/drive')

import warnings
warnings.filterwarnings(action='ignore')

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

plt.rc('font', family='AppleGothic')

import folium 
import geopandas as gpd
from IPython.display import Image

import tqdm # progress bar 
import os, sys

from scipy.spatial import distance
from sklearn.cluster import AgglomerativeClustering

Mounted at /content/drive

In [5]:
path = '/content/drive/MyDrive/colab/jeju/data/'
data5= pd.read_csv(os.path.join(path,'KRI-DAC_Jeju_data5.txt'))
data6= pd.read_csv(os.path.join(path,'KRI-DAC_Jeju_data6.txt'))
data7= pd.read_csv(os.path.join(path,'KRI-DAC_Jeju_data7.txt'))
data8= pd.read_csv(os.path.join(path,'KRI-DAC_Jeju_data8.txt'))


df = pd.concat([data5, data6, data7, data8]).drop(['X','Y'], axis=1).reset_index(drop=True)
df.columns=df.columns.str.lower()

In [7]:
df.head()

   objectid  field1      ym  ... numofdisspent      point_x       point_y
0         1       1  202005  ...             2  877005.9834  1.479766e+06
1         2       2  202005  ...             0  877005.7447  1.479816e+06
2         3       3  202005  ...             2  877056.6756  1.479616e+06
3         4       4  202005  ...             0  877055.9593  1.479766e+06
4         5       5  202005  ...             0  877055.4817  1.479866e+06

[5 rows x 14 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119429 entries, 0 to 1119428
Data columns (total 14 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   objectid       1119429 non-null  int64
 1   field1         1119429 non-null  int64
 2   ym             1119429 non-null  int64
 3   sido           1119429 non-null  object
 4   sigungu        1119429 non-null  object
 5   franclass      1119429 non-null  object
 6   type           1119429 non-null  object
 7   time           1119429 non-null  object
 8   totalspent     1119429 non-null  int64
 9   disspent       1119429 non-null  int64
 10  numofspent     1119429 non-null  int64
 11  numofdisspent  1119429 non-null  int64
 12  point_x        1119429 non-null  float64
 13  point_y        1119429 non-null  float64
dtypes: float64(2), int64(7), object(5)
memory usage: 119.6+ MB

In [9]:
df.describe()

           objectid        field1  ...       point_x       point_y
count  1.119429e+06  1.119429e+06  ...  1.119429e+06  1.119429e+06
mean   1.399596e+05  1.399596e+05  ...  9.092228e+05  1.493555e+06
std    8.084022e+04  8.084022e+04  ...  1.321007e+04  1.194716e+04
min    1.000000e+00  1.000000e+00  ...  8.756036e+05  1.458813e+06
25%    6.996500e+04  6.996500e+04  ...  9.050022e+05  1.481856e+06
50%    1.399290e+05  1.399290e+05  ...  9.093846e+05  1.499717e+06
75%    2.098930e+05  2.098930e+05  ...  9.127210e+05  1.501364e+06
max    2.842650e+05  2.842650e+05  ...  9.507241e+05  1.552940e+06

[8 rows x 9 columns]

In [10]:
#data preprocessing

In [11]:
# geocoding
from pyproj import Proj, transform 
proj_itrf = Proj(init='epsg:5178') # korean grid
proj_wgs84 = Proj(init='epsg:4326') # World Geodetic System
df["lon"],df["lat"] = transform(proj_itrf,proj_wgs84,df['point_x'],df['point_y']) # itrf --> lon/lat


df['geometry'] = gpd.points_from_xy(df.point_x, df.point_y) # points 
df_new=df.drop(['point_x','point_y'],axis=1)
# df.drop(['point_x','point_y'],inplace=True, axis=1)

# get boundary
boundary = gpd.read_file(os.path.join(path, 'LSMD_ADM_SECT_UMD_50.shp'),encoding='euc-kr').to_crs('EPSG:4326')

In [12]:
boundary.head()

     EMD_CD EMD_NM  ...   GID                                           geometry
0  50130310    안덕면  ...  4976  MULTIPOLYGON (((126.28206 33.30320, 126.28243 ...
1  50130250    대정읍  ...  4977  MULTIPOLYGON (((126.16875 33.27659, 126.16876 ...
2  50130116    강정동  ...  4978  MULTIPOLYGON (((126.46279 33.23248, 126.46292 ...
3  50130106    서홍동  ...  4979  MULTIPOLYGON (((126.51991 33.35191, 126.52008 ...
4  50130101    서귀동  ...  4980  MULTIPOLYGON (((126.55443 33.25228, 126.55445 ...

[5 rows x 6 columns]

In [13]:
df_new

         objectid  field1  ...        lat                        geometry
0               1       1  ...  33.305090  POINT (877005.983 1479766.073)
1               2       2  ...  33.305540  POINT (877005.745 1479816.049)
2               3       3  ...  33.303746  POINT (877056.676 1479616.384)
3               4       4  ...  33.305098  POINT (877055.959 1479766.312)
4               5       5  ...  33.305999  POINT (877055.482 1479866.263)
...           ...     ...  ...        ...                             ...
1119424    280081  280081  ...  33.515632  POINT (950266.598 1502457.688)
1119425    280082  280082  ...  33.513833  POINT (950317.538 1502258.007)
1119426    280083  280083  ...  33.510691  POINT (950469.158 1501908.867)
1119427    280084  280084  ...  33.500332  POINT (950574.639 1500759.806)
1119428    280085  280085  ...  33.517462  POINT (950565.518 1502659.048)

[1119429 rows x 15 columns]

In [14]:
df_new.head()

   objectid  field1  ...        lat                        geometry
0         1       1  ...  33.305090  POINT (877005.983 1479766.073)
1         2       2  ...  33.305540  POINT (877005.745 1479816.049)
2         3       3  ...  33.303746  POINT (877056.676 1479616.384)
3         4       4  ...  33.305098  POINT (877055.959 1479766.312)
4         5       5  ...  33.305999  POINT (877055.482 1479866.263)

[5 rows x 15 columns]

In [15]:
geo_df = gpd.GeoDataFrame(columns={'dong', 'geometry'})

In [16]:
# import sys
# from data import api_key 
# key=api_key.google_api_key

ModuleNotFoundError: ignored

In [ ]:
df=pd.concat(concat_list)

In [ ]:
from pyproj import Proj, transform 
proj_itrf = Proj(init='epsg:5178')
proj_wgs84 = Proj(init='epsg:4326')
df["lon"],df["lat"] = transform(proj_itrf,proj_wgs84,df['point_x'],df["point_y"])
df.drop(['point_x','point_y',"field1",'ym'],inplace=True, axis=1)

In [ ]:
# df['lon_lat']=df['lon'].astype(str)+'_'+df['lat'].astype(str)

In [ ]:
# df_lon_lat=df['lon_lat'].drop_duplicates()
# df_lon_lat

In [ ]:
# import googlemaps
# from datetime import datetime

# gmaps = googlemaps.Client(key) 
# reverse_geocode_result = gmaps.reverse_geocode((33.302315,126.176746))
# reverse_geocode_result
# # geocode_result

In [ ]:
# import json
# m=folium.Map(location=[48,-102],zoom_start=3)
# folium.Choropleth(
#     geo_data='./data/03_us-states.json',
#     data=state_data, columns=["State",'Unemployment'],
#     nan_fill_color="purple", nan_fill_opacity=0.4,
#     key_on="    ", fill_color="YlGn",
#     legend_name="Unemployment Rate (%)"
# ).add_to(m)
# m

In [ ]:
#import rename module  
import type_names
input_data=type_names.rename()
for key, value in input_data:
    df["type"].replace(dict.fromkeys(key, value), inplace=True)

In [ ]:
df

In [ ]:
# data preprocessing

df['sigungu']=df['sigungu'].replace(['제주시','서귀포시'],['jeju','Seogwipo'])
df=df[df['time']!='x시'].reset_index(drop=True) # payments canceled 
df['time']=df['time'].apply(lambda x : x[:2])
df.franclass=df.franclass.replace(['영세', '중소1', '중소', '중소2', '일반'],['under_0.3m','under_1m','under_0.5m','under_3m','over_3m'])
df_final=df.rename(columns={'sigungu':'city','franclass':'class','totalspent':'total_income','disspent':'subsidies_income','numofspent':'num_of_payments','numofdisspent':'num_of_subspayment'})
df_final[['total_income','subsidies_income']]=df_final[['total_income','subsidies_income']].astype(int).apply(lambda x:x/1000) #won to $, 1000:1
df_final['non_subsidies_income']=df_final['total_income']-df_final['subsidies_income']

In [ ]:
df_final['month'].unique()

In [ ]:
# visualization 
#1. subsidies_income by month 
df_month_group=df_final.groupby('month')["subsidies_income"].sum().reset_index()

plt.figure(figsize=(10,6))
sns.catplot(x="month", y="subsidies_income", ci=None, kind="bar", data=df_month_group);

In [ ]:
df_final

In [ ]:
# all income by city 
# population = jeju_city (507,095), seogwipo (190,254), seogwipo/jeju_city = 0.375
df_city_group= df_final.groupby('city')['total_income','non_subsidies_income',"subsidies_income"].sum() 
df_city_group

f, ax = plt.subplots(1,3, figsize=(20,10))

df_city_group['total_income'].plot.pie(explode=[0,0.1], autopct='%1.1f%%',ax=ax[0], shadow=True,fontsize=20)
ax[0].set_title('total income by city',fontsize=20)

df_city_group['non_subsidies_income'].plot.pie(explode=[0,0.1], autopct='%1.1f%%',ax=ax[1], shadow=True,fontsize=20)
ax[1].set_title('non_subsidies_income by city',fontsize=20)

df_city_group['subsidies_income'].plot.pie(explode=[0,0.1], autopct='%1.1f%%',ax=ax[2], shadow=True, fontsize=20)
ax[2].set_title('subsidies_income by city',fontsize=20)

In [ ]:
#
df_5=df_final[df_final['month']=='5']
df_5_sum=df_5[['non_subsidies_income','subsidies_income']].sum()

plt.figure(figsize=(10,6))
df_5_sum_plot=df_5_sum.plot.pie(explode=[0,0.1], autopct='%1.1f%%', shadow=True,fontsize=20)

In [ ]:
df_5_group_type=df_5.groupby('type')['total_income','non_subsidies_income',"subsidies_income"].sum() 
df_5_group_type.iloc[1]

total_income            1.292806e+07
non_subsidies_income    1.091423e+07
subsidies_income        2.013829e+06
Name: automobile, dtype: float64

In [ ]:
#error fix
df_5_group_type.loc['beauty']=df_5_group_type.loc['beauty']+df_5_group_type.loc['화장품']
df_5_group_type.drop(index='화장품', inplace=True)

In [ ]:
df_5_group_type['replacement_rate']=df_5_group_type['subsidies_income']/df_5_group_type['non_subsidies_income']
df_5_group_type.sort_values('replacement_rate',ascending=False)

,total_income,non_subsidies_income,subsidies_income,replacement_rate
type,,,,
agriculture,6.499023e+06,4.669299e+06,1829724.194,0.391863
grocery,4.010482e+07,3.236285e+07,7741962.050,0.239224
housing,1.386279e+06,1.147461e+06,238817.841,0.208127
beauty,1.099585e+06,9.206987e+05,178886.697,0.194295
construction,4.322700e+06,3.621635e+06,701065.099,0.193577
automobile,1.292806e+07,1.091423e+07,2013829.169,0.184514
medical,1.110183e+07,9.426260e+06,1675572.420,0.177756
dinning,3.804076e+07,3.264970e+07,5391056.740,0.165118
service,4.397064e+06,3.777110e+06,619954.400,0.164135
leisure,9.888990e+06,8.657863e+06,1231127.305,0.142198
shopping,1.720078e+07,1.565526e+07,1545524.957,0.098722
education,8.582898e+06,7.907169e+06,675729.007,0.085458
entertain,1.781099e+06,1.648951e+06,132148.667,0.080141
liquor,4.620667e+06,4.512095e+06,108571.636,0.024062
travel,5.990732e+06,5.894607e+06,96124.442,0.016307

In [22]:
import itertools
a=list(itertools.permutations('ABCD', 2))
print(a)

[('A', 'B'), ('A', 'C'), ('A', 'D'), ('B', 'A'), ('B', 'C'), ('B', 'D'), ('C', 'A'), ('C', 'B'), ('C', 'D'), ('D', 'A'), ('D', 'B'), ('D', 'C')]

In [29]:
df = gpd.read_file(gpd.datasets.get_path('nybb'))

In [30]:
df

   BoroCode  ...                                           geometry
0         5  ...  MULTIPOLYGON (((970217.022 145643.332, 970227....
1         4  ...  MULTIPOLYGON (((1029606.077 156073.814, 102957...
2         3  ...  MULTIPOLYGON (((1021176.479 151374.797, 102100...
3         1  ...  MULTIPOLYGON (((981219.056 188655.316, 980940....
4         2  ...  MULTIPOLYGON (((1012821.806 229228.265, 101278...

[5 rows x 5 columns]